[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
beautifulsoup4 = "*"
embedchain = "*"
python-decouple = "*"
requests = "*"
pypdf2 = "*"
requests-html = "*"
selenium = "*"
langchain = "*"
python-dotenv = "*"
faiss-cpu = "*"
openai = "*"
huggingface-hub = "*"
instructorembedding = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.11"
